/logs/
/project/project
/project/target
/target
tmp/
.history
/dist/
/.idea
*.iml
/out
/.idea_modules
/.classpath
/.project
.eclipse
/RUNNING_PID
/.settings
/.target
.DS_Store
/bin
/data

#keep the empty folder tmpfiles/
#ignore any files inside tmpfiles/
tmpfiles/*
!tmpfiles/.gitkeep
AwsCredentials.properties


# Ignore Play! working directory #
/db
/lib/
/modules
test-result
server.pid
*.eml
.cache
