
@import helper._

@main("Estimator") {

<ol class="breadcrumb">
	<li><a href="/climate/tutorial">Tutorial</a></li>
	<li><a href="/climate/services">Model Analytics Services</a></li>
	<li><a href="/climate/datasets">Datasets</a></li>
	<li><a href="/climate/workflows">Workflows</a></li>
	<li><a href="/climate/recommendation">Recommendation</a></li>
</ol>


	<p>
	<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
	<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/twoDimMap.html">2D Variable Map Service</a>.
	</p>
	<p>
	<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
	<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/twoDimZonalMean.html">2D Variable Zonal Mean Service</a>.
	</p>
	<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/twoDimTimeSeries.html">2D Variable Time Series Service</a>.
</p>
<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/twoDimSlice3D.html">3D Variable 2D Slice Service</a>.
</p>
<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/threeDimZonalMean.html">3D Variable Zonal Mean Service</a>.
</p>
<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/threeDimVarVertical.html">3D Variable Average Vertical Profile Service</a>.
</p>
<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/scatterPlot2Vars.html">Scatter and Histogram Plots of Two Variables Service</a>.
</p>
<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/diffPlot2Vars.html">Difference Plot of Two Variables Service</a>.
</p>
<p>
<img src="/assets/images/service.jpeg" alt="service" height="60" width="60">
<a href="http://cmacws4.jpl.nasa.gov:8080/cmac/web/conditionalSampling.html">Conditional Sampling Service</a>.
</p>


<form method="GET" role="form" action="/climate/recommendation">
	
	<div class="actions">
		<input type="submit" class="btn btn-primary" value="See Recommendation" action="/climate/recommendation" style="position: relative; left: 15px">
	</div>
    
</form>           
		

	}
